.footer{
    overflow-x: hidden;
    width: 100%;
}
.footer-body, .footer-right{
    padding: 3.75rem;
    font-size: --fs-body;
}
.footer-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
    color: rgb(var(--primary-color));
    background-color: rgb(var(--font-color));
}
.footer-body .group-title{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
.footer-body ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-body li{
    padding: 0.5rem 0.625rem;
    padding-left: 0;
}
.footer-body a{
    color: rgb(var(--primary-color));
    text-decoration: none;
    opacity: 0.8;
}
.footer-body a:hover{
    opacity: 1;
}
.footer-body a:active{
    color: orange;
}
.footer-right{
    background-color: rgb(var(--primary-color));
    color: #222;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}