:root, .theme-light{
    scroll-behavior: smooth;
    --primary-color: 241, 241, 241;
    --font-color: 55, 55, 55;
    --fs-body:  0.875rem;
    --link-color: 255, 165, 0
}
*{
    color: rgb(var(--font-color));
}
.theme-dark{
    --primary-color: 55, 55, 55;
    --font-color: 241, 241, 241;
}
::-webkit-scrollbar{
    background-color: rgba(var(--font-color), 0.3);
    width: 8px;
}
::-webkit-scrollbar:hover{
    background-color: rgba(var(--font-color), 0.5);
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgba(var(--font-color), 0.4);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(var(--font-color), 0.8);
}